astroid==3.3.9
attrs==24.2.0
black==25.1.0
click==8.1.8
coloredlogs==15.0.1
contourpy==1.3.0
cycler==0.12.1
dill==0.3.9
exceptiongroup==1.2.2
fonttools==4.55.3
gitdb==4.0.11
GitPython==3.1.43
greenlet==3.1.1
h11==0.14.0
humanfriendly==10.0
importlib_resources==6.5.2
kiwisolver==1.4.7
matplotlib==3.9.4
mccabe==0.7.0
msgpack==1.1.0
mypy-extensions==1.0.0
numpy==2.0.2
outcome==1.3.0.post0
packaging==24.2
pathspec==0.12.1
persist-queue==1.0.0
pillow==11.1.0
platformdirs==4.3.6
prettier==0.0.7
psutil==6.1.0
pycodestyle==2.12.1
pygame==2.6.1
pylint==3.3.5
pynvim==0.5.0
pyparsing==3.2.1
python-dateutil==2.9.0.post0
selenium==4.25.0
six==1.17.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
tomli==2.2.1
tomlkit==0.13.2
trio==0.27.0
trio-websocket==0.11.1
typing_extensions==4.12.2
verboselogs==1.7
websocket-client==1.8.0
wsproto==1.2.0
zipp==3.21.0
